/*http://www.bootply.com/79859*/

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueCyr-Light.otf');
}

@font-face {
    font-family: 'HelveticaNeueItalic';
    src: url('../fonts/HelveticaNeueCyr-LightItalic.otf');
}


@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/HelveticaNeueCyr-Heavy.otf');
}

body {
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

/*===================================================common==========================================================*/
#logo{

}

.caption,
.sub-caption{
    color: #030303;
}


.caption{
    margin-top: 110px;
    font-size: 60px;
    display: inline-block;
}

.sub-caption{
    display: inline-block;
    margin-left: 30px;
    font-size: 15px;
    font-family: 'HelveticaNeueItalic';
}

.link,
.link:hover{
   color: #ff7200;
}
.link{
    text-decoration: underline;
}
.link:hover{
    text-decoration: none;
}

.selected img {
    opacity:0.5;
}



.navbar-default .navbar-nav > .marker {

    width: 0px;
    height: 0px;

    border-radius: 2px;
    position: absolute;
    border: solid #ff6600 1px;
    color: #ff6600 !important;
    background: transparent;
    transition: left 0.7s, width 0.7s, height 0.7s;
}

.navbar-inverse .navbar-nav > .marker {
    position: absolute;
    border-radius: 2px;
    border: solid #ffffff 1px;
    color: #ffffff !important;
    transition: left 0.7s, width 0.7s, height 0.7s;
}





.carousel-fade .item {-webkit-transition: opacity 0.7s; -moz-transition: opacity 0.7s; -ms-transition: opacity 0.7s; -o-transition: opacity 0.7s; transition: opacity 0.7s;}
.carousel-fade .active.left {left:0;opacity:0;z-index:2;}
.carousel-fade .next {left:0;opacity:1;z-index:1;}
.carousel-inner .item{ width: 100%}

.slider-thumbs{
    position: relative;
}
.slider-thumbs li{cursor: pointer; vertical-align: top; margin-right: 35px; padding: 10px}
.slider-thumbs a{ font-size: 15px; color: #000000; font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif; font-weight: bold}
.slider-thumbs a:hover{ text-decoration: none;}

/*.slider-thumbs .selected{ border: solid 1px #fe923b; position: relative }
.slider-thumbs .selected:before{
    position: absolute;
    width: 20px;
    height: 20px;
    content: " ";
    top: -11px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: solid 1px #fe923b;
    border-bottom: 0px;
    border-right: 0px;
    background: #ffffff;
    -moz-transform: rotate(45deg); *//* Для Firefox *//*
    -ms-transform: rotate(45deg); *//* Для IE *//*
    -webkit-transform: rotate(45deg); *//* Для Safari, Chrome, iOS *//*
    -o-transform: rotate(45deg); *//* Для Opera *//*
    transform: rotate(45deg);
}*/

.slider-thumbs li{ border: solid 1px transparent; }
.slider-thumbs .thumbnail-desc{ margin-bottom: 10px}

.slider-thumbs .marker{
    border: solid 1px #fe923b;
    position: absolute;
    transition: left 0.5s, width 0.5s, height 0.5s;

}

.slider-thumbs .marker:before{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    content: " ";
    top: -11px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: solid 1px #fe923b;
    border-bottom: 0px;
    border-right: 0px;
    background: #ffffff;
    -moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);
}



/*========================================================header=======================================================*/
.logo{
    background: url("../img/menu-logo.png") center center no-repeat;
    display: block;
    width: 79px;
    height: 29px;
}
.navbar-inverse .logo{
    background: url("../img/menu-logo-inverted.png") center center no-repeat;
    display: block;
    width: 79px;
    height: 29px;
}

.phone-number{
    font-family: 'HelveticaNeueBold';
    font-size: 18px;
    display: block;
    padding: 5px;
}

.navbar-inverse .phone-number{
    color: #ffffff;
}

.login{
    background: url("../img/login.png") center center no-repeat;
    width: 34px;
    height: 32px;
    border: none !important;
}

.navbar-inverse .login{
    background: url("../img/login-inverted.png") center center no-repeat;
}

/*================================================0 index==============================================================*/

.intro{
    font-size: 32px;
    margin-top: 20px
}

.intro-images {
    margin-top: 80px;
    padding-bottom: 32px;
    background: url("../img/intro-room-bg.png") bottom no-repeat;
}

.intro-tune-menu-wrapper{

}

.intro-tune-menu{
    width: 192px;
    height: 320px;
    margin-top: 20px;
    margin-left: -45px;
    background: url("../img/intro-1.png") no-repeat center center;
}

.intro-interfaces-wrapper{
    margin-left: 80px;
}

.intro-interfaces{
    width: 78px;
    height: 331px;
    background: url("../img/intro-2.png") no-repeat center center;
}

.intro-devices-wrapper{

}

.intro-devices{
    width: 191px;
    height: 105px;
    background: url("../img/intro-3.png") no-repeat center center;
}

.intro-algorithms-wrapper{
    margin-left: 80px;
}
.intro-algorithms{
    width: 173px;
    height: 247px;
    background: url("../img/intro-4.png") no-repeat center center;
}

.intro-cloud-wrapper{
    width: 290px;
}
.intro-cloud{
    margin-top: -45px;
    width: 177px;
    height: 120px;
    background: url("../img/intro-5.png") no-repeat center center;
}

.intro-survey-wrapper{
    width: 520px;
}
.intro-survey{
    width: 329px;
    height: 530px;
    margin: 0 auto;
    background: url("../img/intro-6.png") no-repeat center center;
}

.main-logo{
    width: 123px;
    height: 46px;
    background: url("../img/main-logo.png") no-repeat;
}

.intro-definition{
    font-size: 14px;
    margin-top: -8px;
}

.intro-feature-item{
    font-size: 14px;
}

#index{
    background: url("../img/intro-bg.png");
    min-height: 100px;
}

/*================================================1 interface==========================================================*/


.interface-arrow-1{
    background: url("../img/arrow-r-l-bg.png") left bottom no-repeat;
    width: 56px;
    height: 23px;
    display: block;
}
/*images and thumbnails*/

/*...
.interface-arrow-8{
}

*/

/*================================================2 hardware===========================================================*/

.hardware-main-content{
    margin-left: 90px;
}

.hardware-caption-info{
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.hardware-main-info{
    font-size: 18px;
}

.hardware-main-info p{
    margin-bottom: 15px;
}

.hardware-additional-info{
    font-size: 13px;
}
.terminal-types{
    padding: 0;
}
.terminal-types li{
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
}


/*================================================3 settings===========================================================*/


/*================================================4 technology=========================================================*/

.grey-block {
    background: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
}

.tech-caption{
    top: 110px;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    font-size: 48px;
    left: 0px;
}

.section-tech-caption{
    font-size: 48px;
    color: rgba(255, 255, 255, 0.9);
}


.tech-description{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
}

.tech-additional-info{
    font-size: 18px;
}

.tech-content{
    max-width: 680px;
    margin: 0 auto;
}

.implementation-item,
.tech-item{
    width: 100%;
    height: 100%;
    position: relative;
}

.it-systems-integration,
.citizen-universal-card,
.integration-gov-services,
.multiticket,
.algorithms,
.cloud{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.it-systems-integration{
    background: url("../img/it-systems-integration-img.png") no-repeat ;
}

.citizen-universal-card {
    background: url("../img/citizen-universal-card-bg.png") no-repeat ;
}

.integration-gov-services {
    background: url("../img/integration-gov-services-bg.png") no-repeat ;
}

.multiticket{
    background: url("../img/multiticket-bg.png") no-repeat ;
}

.algorithms {
    background: url("../img/algorithms-bg.png") no-repeat ;
}

.cloud {
    background: url("../img/cloud-bg.png") no-repeat ;
}
/*================================================5 implementations====================================================*/
.implentation-video-temp{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background: url("../img/implementation-video-temp.png") no-repeat ;
}

.implentation-features{

    position: absolute;
    width: 220px;
    top: 140px;
    right: 0;
    padding: 0px;
}

.implentation-features li{
    list-style: none;
    font-size: 18px;
    margin-bottom: 40px;
}

/*================================================6 solutions=========================================================*/

.solution-item{
    font-size: 15px;
}

.solution-item-caption{
    font-size: 15px;
    font-weight: bold;
}

.solution-enter-is-using-in {
    font-size: 15px;
    text-align: center;
    background: #f5f5f5;
    width: 100%;
    padding: 10px;
}

.solution-companies li{
    display: inline-block;
    margin-right: 40px;
}

