/*http://www.bootply.com/79859*/

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueCyr-Light.otf');
}

@font-face {
    font-family: 'HelveticaNeueItalic';
    src: url('../fonts/HelveticaNeueCyr-LightItalic.otf');
}


@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/HelveticaNeueCyr-Heavy.otf');
}

body {
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'als_rublregular';
    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rouble-webfont.woff') format('woff'),
    url('../fonts/rouble-webfont.ttf') format('truetype'),
    url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
}

/*===================================================common==========================================================*/
#logo{

}

.caption,
.sub-caption{
    color: #030303;
}


::selection{
    color: #ffffff;
    background: #FFAC79;
}
::-moz-selection {
    color: #ffffff;
    background:  #FFAC79;
}

.caption{
    margin-top: 110px;
    font-size: 60px;
    display: inline-block;
}

.sub-caption{
    display: inline-block;
    margin-left: 30px;
    font-size: 15px;
    font-family: 'HelveticaNeueItalic', Helvetica, Arial, sans-serif;
}

.link,
.link:hover{
   color: #ff7200;
}
.link{
    text-decoration: underline;
}
.link:hover{
    text-decoration: none;
}

.selected img {
    opacity:0.5;
}

.navbar-default .navbar-nav > .marker {
    width: 0px;
    height: 0px;
    border-radius: 2px;
    position: absolute;
    border: solid #ff6600 1px;
    color: #ff6600 !important;
    background: transparent;
    transition: left 0.5s, width 0.5s, height 0.5s;
}

.navbar-default .navbar-nav > a{
    outline: none;
}

.navbar-inverse .navbar-nav > .marker {
    position: absolute;
    border-radius: 2px;
    border: solid #ffffff 1px;
    color: #ffffff !important;
    transition: left 0.5s, width 0.5s, height 0.5s;
}

.onepage-pagination{
    top: 40%;
    display: none;
}

.carousel-fade .item {-webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s; -ms-transition: opacity 0.5s; -o-transition: opacity 0.5s; transition: opacity 0.5s;}
.carousel-fade .active.left {left:0;opacity:0;z-index:2;}
.carousel-fade .next {left:0;opacity:1;z-index:1;}
.carousel-inner .item{ width: 100%}

.slider-thumbs{
    position: relative;
}
.slider-thumbs li{cursor: pointer; vertical-align: top; margin-right: 35px; padding: 10px}
.slider-thumbs a{ font-size: 15px; color: #000000; font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;}
.slider-thumbs a:hover{ text-decoration: none;}

.slider-thumbs li{ border: solid 1px transparent; }
.slider-thumbs .thumbnail-desc{ margin-bottom: 10px}

.slider-thumbs .marker{
    border: solid 1px #fe923b;
    position: absolute;
    transition: left 0.5s, width 0.5s, height 0.5s;

}

.slider-thumbs .marker:before{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    content: " ";
    top: -11px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: solid 1px #fe923b;
    border-bottom: 0px;
    border-right: 0px;
    background: #ffffff;
    -moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);
}

.video-bg {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

.owl-carousel{
    height: 100%;
}
.owl-carousel .owl-wrapper-outer{
    height: 100%;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item{
    height: 100%;
}
.owl-theme .owl-controls{
    bottom: 50px;
    position: absolute;
    margin: 0 auto;
    max-width: 200px;
    left: 0;
    right: 0;
}
.owl-theme .owl-controls .owl-page span{
    background: #FFF;
}
/*========================================================header=======================================================*/
.logo{
    background: url("../img/menu-logo.png") center center no-repeat;
    display: block;
    width: 79px;
    height: 29px;
}
.navbar-inverse .logo{
    background: url("../img/menu-logo-inverted.png") center center no-repeat;
    display: block;
    width: 79px;
    height: 29px;
}

.phone-number{
    font-family: 'HelveticaNeueBold';
    font-size: 18px;
    display: block;
    padding: 5px;
}

.navbar-inverse .phone-number{
    color: #ffffff;
}

.login{
    background: url("../img/login.png") center center no-repeat;
    width: 34px;
    height: 32px;
    border: none !important;
}

.navbar-inverse .login{
    background: url("../img/login-inverted.png") center center no-repeat;
}

/*================================================0 index==============================================================*/
.index-wrapper{
    background: url('../img/room-floor-bg.png') repeat-x bottom;
}

.intro{
    font-size: 32px;
    margin-top: 20px
}

.intro-images {
    margin-top: 80px;
    padding-bottom: 32px;
}

.intro-tune-menu-wrapper{

}

.intro-tune-menu{
    width: 192px;
    height: 320px;
    margin-top: 20px;
    margin-left: -45px;
    background: url("../img/intro-1.png") no-repeat center center;
}

.intro-interfaces-wrapper{
    margin-left: 80px;
}

.intro-interfaces{
    width: 78px;
    height: 331px;
    background: url("../img/intro-2.png") no-repeat center center;
}

.intro-devices-wrapper{

}

.intro-devices{
    width: 191px;
    height: 105px;
    background: url("../img/intro-3.png") no-repeat center center;
}

.intro-algorithms-wrapper{
    margin-left: 80px;
}
.intro-algorithms{
    width: 173px;
    height: 247px;
    background: url("../img/intro-4.png") no-repeat center center;
}

.intro-cloud-wrapper{
    width: 290px;
}
.intro-cloud{
    margin-top: -45px;
    width: 177px;
    height: 120px;
    background: url("../img/intro-5.png") no-repeat center center;
}

.intro-survey-wrapper{
    width: 520px;
}
.intro-survey{
    width: 329px;
    height: 530px;
    margin: 0 auto;
    background: url("../img/intro-6.png") no-repeat center center;
}

.main-logo{
    width: 123px;
    height: 46px;
    background: url("../img/main-logo.png") no-repeat;
}

.intro-definition{
    font-size: 14px;
    margin-top: -8px;
}

.intro-feature-item{
    font-size: 14px;
}

#index{
    background: url("../img/intro-bg.png");
    min-height: 100px;
}

/*================================================1 interface==========================================================*/

.devices-arrow {
    background: url("../img/arrow-r-l-bg.png") left bottom no-repeat;
    width: 56px;
    height: 23px;
    display: block;
    position: absolute;
    top: 10px;
    left: -50px;
}

.days-combinations-arrow{
    background: url("../img/days-combinations-arrow-img.png") left bottom no-repeat;
    width: 58px;
    height: 16px;
    display: block;
    position: absolute;
    top: 10px;
    left: -50px;
}

.work-in-intervals-arrow{
    background: url("../img/work-in-intervals-arrow-img.png") left bottom no-repeat;
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    top: -20px;
    right: -50px;
}

.style-menu-item-arrow{
    background: url("../img/style-menu-item-arrow-img.png") left bottom no-repeat;
    width: 58px;
    height: 16px;
    display: block;
    position: absolute;
    left: -55px;
}

.grouping-menu-item-arrow{
    background: url("../img/grouping-menu-item-arrow-img.png") left bottom no-repeat;
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    top: -15px;
    left: -40px;
}

.menu-styles-palette{
    background: url("../img/menu-styles-palette-img.png") top left no-repeat;
    padding-top: 70px;
    padding-right: 20px;
}




.interface-details-item{
    font-size: 15px;
    padding-top: 100px;
}

.interface-details-image {
    height: 100px;
}

.interface-details-item .interface-details-caption{
    font-weight: bold;
}

.on-map{
    background: url("../img/on-map-img.png") left 8px no-repeat;
}
.hourly-diagram{
    background: url("../img/hourly-diagram-img.png") left 10px no-repeat;
}
.instant-diagram{
    background: url("../img/instant-diagram-img.png") left 30px no-repeat;
}
.detailed-statistics-diagram{
    background: url("../img/detailed-statistics-diagram-img.png") left top no-repeat;
}
/*================================================2 hardware===========================================================*/

.hardware-main-content{
    margin-left: 90px;
}

.hardware-caption-info{
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.hardware-main-info{
    font-size: 18px;
}

.hardware-main-info p{
    margin-bottom: 15px;
}

.hardware-additional-info{
    font-size: 13px;
}
.terminal-types{
    padding: 0;
}
.terminal-types li{
    margin-right: 30px;
    display: inline-block;
    vertical-align: bottom;
}

.terminal-thumbnail,
.indication-panel-thumbnail,
.indication-panel-thumbnail,
.personal-panel-thumbnail,
.operator-panel-thumbnail,
.admin-panel-thumbnail,
.survey-panel-thumbnail{
    padding-bottom: 100px;
}

.terminal-thumbnail{
    background: url("../img/terminal-img.png") bottom left no-repeat;
}
.indication-panel-thumbnail{
    background: url("../img/indication-panel-img.png") bottom left no-repeat;
    padding-right: 12px;
}
.personal-panel-thumbnail{
    background: url("../img/personal-panel-img.png") bottom left no-repeat;
}
.operator-panel-thumbnail{
    background: url("../img/operator-panel-img.png") bottom left no-repeat;
    padding-right: 32px;
}
.admin-panel-thumbnail{
    background: url("../img/admin-panel-img.png") bottom left no-repeat;
    padding-right: 5px;
}
.survey-panel-thumbnail{
    background: url("../img/survey-panel-img.png") bottom left no-repeat;
}

/*================================================3 settings===========================================================*/
.schedule-thumbnail,
.holiday-schedule-thumbnail,
.terminal-menu-thumbnail,
.service-menu-thumbnail,
.device-management-thumbnail{
    padding-top: 95px;
}

.schedule-thumbnail{
    background: url("../img/schedule-img.png") top left no-repeat;
}
.holiday-schedule-thumbnail{
    background: url("../img/holiday-schedule-img.png") top left no-repeat;
}
.terminal-menu-thumbnail{
    background: url("../img/terminal-menu-img.png") top left no-repeat;
}
.service-menu-thumbnail{
    background: url("../img/services-menu-img.png") top left no-repeat;
    padding-right: 10px;
}
.device-management-thumbnail{
    background: url("../img/device-management-img.png") top left no-repeat;
    padding-right: 10px;
}

/*================================================4 technology=========================================================*/

.grey-block {
    background: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
}

.tech-caption{
    top: 110px;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    font-size: 48px;
    left: 0px;
    z-index: 900;
}

.section-tech-caption{
    font-size: 48px;
    color: rgba(255, 255, 255, 0.9);
}


.tech-description{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
}

.tech-additional-info{
    font-size: 18px;
}

.tech-content{
    max-width: 680px;
    margin: 0 auto;
}

.implementation-item,
.tech-item{
    width: 100%;
    height: 100%;
    position: relative;
}

.it-systems-integration,
.citizen-universal-card,
.integration-gov-services,
.multiticket,
.algorithms,
.cloud{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.it-systems-integration{
    background: url("../img/it-systems-integration-img.png") no-repeat ;
}

.citizen-universal-card {
    background: url("../img/citizen-universal-card-bg.png") no-repeat ;
}

.integration-gov-services {
    background: url("../img/integration-gov-services-bg.png") no-repeat ;
}

.multiticket{
    background: url("../img/multiticket-bg.png") no-repeat ;
}

.algorithms {
    background: url("../img/algorithms-bg.png") no-repeat ;
}

.cloud {
    background: url("../img/cloud-bg.png") no-repeat ;
}
/*================================================5 implementations====================================================*/
.implementation-overlay {
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
}

#implementation-video {
    background: #000 url("../img/implementation-poster.png") no-repeat;
    background-size: cover;
}

.implementation-features {

    position: absolute;
    width: 220px;
    top: 140px;
    right: 0;
    padding: 0px;
}

.implementation-features li{
    list-style: none;
    font-size: 18px;
    margin-bottom: 40px;
}

/*================================================6 solutions=========================================================*/

#solutions{
    position: relative;
}

.solution-item{
    font-size: 15px;
}

.solutions-mfc{
    background: url("../img/mfc-img.png") left center no-repeat;
    padding-left: 100px;
    height: 190px;
}

.solutions-banks{
    background: url("../img/banks-img.png") left center no-repeat;
    padding-left: 115px;
    height: 190px;
}

.solutions-public-catering{
    background: url("../img/public-catering-img.png") left center no-repeat;
    padding-left: 90px;
    height: 190px;
}

.solutions-logistics{
    background: url("../img/transport-and-logistics-img.png") right center no-repeat;
    height: 190px;
    padding-top: 100px;
}

.solutions-other-solutions{
    background: url("../img/other-solutions-img.png")  right center no-repeat;
    height: 190px;
    padding-top: 100px;
}

.solutions-clinics{
    background: url("../img/clinics-img.png")  right center no-repeat;
    height: 190px;
    padding-top: 100px;
}

.spacer{
    width: 25px;
    display: inline-block;
}

.solution-item-caption{
    font-size: 15px;
    font-weight: bold;
}

.solutions-footer{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.solution-enter-is-using-in {
    font-size: 15px;
    text-align: center;
    background: #f5f5f5;
    width: 100%;
    padding: 15px;
}

.solution-companies{
    padding: 0;
    max-width: 1165px;
    margin: 0 auto;
}

.solution-companies li{
    display: inline-block;
    margin-right: 40px;
    vertical-align: middle;
}

.visa-center{
    background: url("../img/visa-center-img.png") center center no-repeat;
    display: block;
    width: 138px;
    height: 33px;
}

.sberbank{
    background: url("../img/sberbank-img.png") center center no-repeat;
    display: block;
    width: 134px;
    height: 26px;
}

.zapsibcombank{
    background: url("../img/zapsibcombank-img.png") center center no-repeat;
    display: block;
    width: 123px;
    height: 25px;
}

.mdmbank{
    background: url("../img/mdmbank-img.png") center center no-repeat;
    display: block;
    width: 97px;
    height: 28px;
}


.fareast-administarion{
    background: url("../img/fareastern-img.png") center center no-repeat;
    display: block;
    width: 78px;
    height: 33px;
}

.kroshka-kartoshka{
    background: url("../img/kroshka-kartoshka-img.png") center center no-repeat;
    display: block;
    width: 76px;
    height: 31px;
}

.m{
    background: url("../img/m-img.png") center center no-repeat;
    display: block;
    width: 56px;
    height: 42px;
}

.legion-bank{
    background: url("../img/legion-bank-img.png") center center no-repeat;
    display: block;
    width: 114px;
    height: 26px;
}

/*==================================================7 costs===========================================================*/

.cost-contact {
    font-size: 15px;
    width: 100%;
    text-align: center;
    padding: 30px;
}

.cost-contact-info,
.cost-contact-number {
    vertical-align: middle;
    display: inline-block;
    text-align: left;
}

.cost-contact-number {
    font-size: 32px;
    margin-left: 55px;
    font-weight: bold;
    line-height: normal;
}

.cost-option {
    border: 1px #e1e1e1 solid;
    border-radius: 2px;
    padding: 20px 24px;
    font-size: 15px;
    min-height: 450px;
    position: relative;
}

.cost-option h3 {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 30px;
}

.option-header {
    margin-bottom: 20px;
}

.option-set {
    border-bottom: 1px #e1e1e1 solid;
    padding-bottom: 15px;
}

.option-set .parts {
    text-align: justify;
    width: 100%;
    line-height: 0;
    text-align-last: justify;
}

.option-set .cloud-option {
    margin-top: 10px;
}

.option-set .parts:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.set-part {
    line-height: normal;
    display: inline-block;
    text-align: left;
}

.set-part strong {
    font-size: 24px;
}

.set-part img {
    vertical-align: baseline;
}

.set-part img.bell {
    margin: 3px 0;
}

.set-part img.mic,
.set-part img.bell {
    vertical-align: middle;
}

.option-list {
    padding-top: 5px;
}

.option-list li{
    padding-top: 10px;
}

.option-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: left;
}

.cost-option .cost {
    font-size: 30px;
    color: #ff6600;
    margin-right: 10px;
}

.cost-option .cost-desc {
    font-size: 13px;
}

.cost-option .cost,
.cost-option .cost-desc {
    vertical-align: top;
    display: inline-block;
    line-height: normal;
}

.cost-option .infinity {
    font-size: 38px;
    line-height: 22px;
}

span.rur {
    font-family: "als_rublregular";
}

/*================================================8 contacts====================================================*/
.contacts{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background: url("../img/contacts-bg.png") no-repeat ;
}

.contacts-caption{
    font-size: 48px;
    line-height: 46px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    padding: 5px 10px;
}

.contacts-text{
    padding: 5px 10px;
    line-height: 37px;
}