.pos-rlt {
    position: relative;
}

.pos-stc {
    position: static;
}

.pos-abt {
    position: absolute;
}

.h-center{
    margin: 0 auto;
}

.table{
    display: table;
}

.table-row{
    display: table-row;
}

.table-cell{
    display: table-cell;
}

.vertical-middle{
    vertical-align: middle;
}

.full-height{
    height: 100%;
}
.full-width{
    width: 100%;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.clearfix{
    clear: both;
}

.line {
    *width: 100%;
    height: 2px;
    margin: 10px 0;
    font-size: 0;
    overflow: hidden;
    background-color: #fff;
    border-width: 0;
    border-top: 1px solid #eaedef;
}

.line-xs {
    margin: 0
}

.line-lg {
    margin-top: 15px;
    margin-bottom: 15px
}

.line-dashed {
    border-style: dashed;
    background: transparent;
}

.no-line {
    border-width: 0
}

.no-border {
    border-color: transparent !important;
}

.no-radius {
    border-radius: 0
}

.block {
    display: block;
}

.block.hide {
    display: none
}
.hidden{
    display: none;
}

.inline {
    display: inline-block
}

.pull-right-lg {
    float: right;
}

.pull-none {
    float: none
}

.form-control-trans {
    border: none;
    background: transparent;
}

.btn-s-xs {
    min-width: 90px
}

.btn-s-sm {
    min-width: 100px
}

.btn-s-md {
    min-width: 120px
}

.btn-s-lg {
    min-width: 150px
}

.btn-s-xl {
    min-width: 200px
}

.l-h-2x {
    line-height: 2em;
}

.l-h-1x {
    line-height: 1.2;
}

.v-middle {
    vertical-align: middle !important;
}

.v-top {
    vertical-align: top
}

.v-bottom {
    vertical-align: bottom
}

.font-red{
    color: red;
}

.font-thin {
    font-weight: 300;
}

.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: 700;
}

.text-center{
    text-align: center;
}
.text-ellipsis {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-uc {
    text-transform: uppercase;
}

.padder {
    padding-left: 15px;
    padding-right: 15px
}

.padder-v {
    padding-top: 15px;
    padding-bottom: 15px
}

.no-padder {
    padding: 0 !important;
}

.pull-in {
    margin-left: -15px;
    margin-right: -15px;
}

.pull-out {
    margin: -10px -15px;
}

.b-t {
    border-top: 1px solid #e0e4e8
}

.b-r {
    border-right: 1px solid #e0e4e8
}

.b-b {
    border-bottom: 1px solid #e0e4e8
}

.b-l {
    border-left: 1px solid #e0e4e8
}

.m-n {
    margin: 0
}

.m-l {
    margin-left: 15px
}

.m-l-none {
    margin-left: 0
}

.m-l-xs {
    margin-left: 5px;
}

.m-l-sm {
    margin-left: 10px;
}

.m-l-lg {
    margin-left: 20px;
}

.m-l-n {
    margin-left: -15px
}

.m-l-n-xxs {
    margin-left: -1px
}

.m-l-n-xs {
    margin-left: -5px
}

.m-l-n-sm {
    margin-left: -10px
}

.m-l-n-lg {
    margin-left: -20px
}

.m-t {
    margin-top: 15px
}

.m-t-none {
    margin-top: 0
}

.m-t-xxs {
    margin-top: 1px;
}

.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t-lg {
    margin-top: 20px;
}

.m-t-n {
    margin-top: -15px !important
}

.m-t-n-xxs {
    margin-top: -1px
}

.m-t-n-xs {
    margin-top: -5px
}

.m-t-n-sm {
    margin-top: -10px
}

.m-t-n-lg {
    margin-top: -20px
}

.m-r {
    margin-right: 15px
}

.m-r-none {
    margin-right: 0
}

.m-r-xs {
    margin-right: 5px
}

.m-r-sm {
    margin-right: 10px
}

.m-r-lg {
    margin-right: 20px
}

.m-r-n {
    margin-right: -15px
}

.m-r-n-xxs {
    margin-right: -1px
}

.m-r-n-xs {
    margin-right: -5px
}

.m-r-n-sm {
    margin-right: -10px
}

.m-r-n-lg {
    margin-right: -20px
}

.m-b {
    margin-bottom: 15px;
}

.m-b-none {
    margin-bottom: 0
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-b-lg {
    margin-bottom: 20px;
}

.m-b-n {
    margin-bottom: -15px
}

.m-b-n-xxs {
    margin-bottom: -1px
}

.m-b-n-xs {
    margin-bottom: -5px
}

.m-b-n-sm {
    margin-bottom: -10px
}

.m-b-n-lg {
    margin-bottom: -20px
}