<div class="popover ext-popover no-point-events"
     data-ng-style="{ 'border-color': color }">
    <div class="arrow"
         data-ng-style="{ 'border-bottom-color': color }"></div>

    <div class="popover-inner">
        <div class="popover-content">
            <div class="m-b-sm"
                 data-ng-style="{ 'color': color }"
                 data-ng-show="content.IsMulti">
                Мультиталон
            </div>
            <div class="m-b-lg">
                <b>{{productName(content.ProductId)}}</b>
            </div>
            <div data-ng-hide="content.IsPending">
                <div>
                    В очереди {{inQueueTime(content.StartSeconds)}}
                </div>
                <div>
                    Обслужат через {{waitingTime(content.Seconds)}}
                </div>
            </div>
            <div data-ng-show="content.IsPending">
                Записан на {{dayTime(content.StartSeconds)}}
            </div>
        </div>
    </div>
</div>